<table>
  <tr>
    <td>Original URL</td>
    <td><%= @url.original_url %></td>
  </tr>
  <tr>
    <td>"Shortened" URL</td>
    <td><%= shortened_url(request, @url) %></td>
  </tr>
</table>

<a href="/">"Shorten" another URL</a>